@import "reset.css";
@import url("fonts.css");

/* Layout primitives. */
.container {
    display: flex;
    gap: 1rem;
}

#header {
    height: 60px;
}

@media (max-width: 600px) {
    .container {
        display: block;
    }
}

:root {
    --primary: #3178c6;
}
